.large-hero {
  position: relative;
}

.large-hero__text-content {
  position: absolute;
  top: 50%;
  transform: translateY(0); /* position an element vertically relative to itself */
  left: 0;
  width: 100%;
  text-align: center;
}
