.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  @mixin atMedium {
    background-color: rgba(47, 85, 114, .3);
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 25px 36px;
    top: 0;
    width: 40%;
    left: 50%;
    transform: translateX(-50%); /* move the element half of its width on the X-axis */

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      width: auto;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }

    &--is-visible {
      display: block;
    }
  }
}
